<ng-container *ngIf="isLoading">
  <main
    class="absolute left-0 top-[65px] flex h-[calc(100%-65px)] w-full items-center justify-center bg-black bg-opacity-50"
  >
    <img src="../../../assets/infinite-spinner.svg" class="h-16" />
  </main>
</ng-container>
<div class="flex flex-col justify-center" *ngIf="!isLoading">
  <div
    class="w-full max-w-4xl self-center overflow-x-auto shadow-md sm:rounded-lg"
  >
    <table
      class="w-full bg-gray-700 text-left text-sm text-gray-400 rtl:text-right"
    >
      <thead>
        <tr class="flex bg-gray-700 text-xs uppercase text-gray-400">
          <th class="w-24 cursor-pointer px-6 py-3 hover:text-green-500 sm:p-4">
            Date
          </th>
          <th
            class="min-w-[16rem] max-w-md flex-1 cursor-pointer px-6 py-3 hover:text-green-500 sm:p-4"
          >
            Title
          </th>
          <th class="w-24 cursor-pointer px-6 py-3 hover:text-green-500 sm:p-4">
            Points
          </th>
          <th class="w-24 cursor-pointer px-6 py-3 hover:text-green-500 sm:p-4">
            Ratio
          </th>
          <th class="w-24 cursor-pointer px-6 py-3 hover:text-green-500 sm:p-4">
            Estimate
          </th>
        </tr>
      </thead>
      <!-- <tbody>
        <tr
          class="flex border-b border-gray-700 bg-gray-800"
          *ngFor="let playersGame of bcmPlayerSummary.games"
        >
          <td class="w-24 whitespace-nowrap px-6 py-4">
            {{ playersGame.game.completionDate | date : "MMM d" : "EST" }}
          </td>
          <td
            class="min-w-[16rem] max-w-md flex-1 overflow-hidden text-ellipsis whitespace-nowrap px-6 py-4 font-medium text-white"
          >
            {{ playersGame.game.game.title }}
          </td>
          <td class="w-24 px-6 py-4">
            {{
              playersGame.game.game.fullCompletionEstimate !== null
                ? playersGame.points
                : "--"
            }}
          </td>
          <td class="w-24 px-6 py-4">
            {{ playersGame.game.game.siteRatio | number : "1.2-2" }}
          </td>
          <td class="w-24 px-6 py-4">
            {{ playersGame.game.game.fullCompletionEstimate || "--" }}
          </td>
        </tr>
      </tbody> -->
    </table>
  </div>
</div>
