<section class="flex flex-col items-center gap-y-6 text-gray-300">
  <img
    src="https://i.imgur.com/oxcUdlL.png"
    class="max-w-sm self-center sm:max-w-md"
  />
  <article class="flex max-w-2xl flex-col gap-y-6">
    <h1 class="text-2xl font-semibold">Tamriel Tea Party</h1>
    <p>
      To celebrate that fateful day on the 16th of Evening Star, AD 1773 we've
      decided to have you all re-enact one of the most renowned protests of
      Tamrielic history. Yes, we're talking about the day that some brave
      khajit's threw their wares overboard and sparked a revolution!
    </p>
    <p>
      The Tamriel Tea Party will have an <i>incredibly</i> simple premise! At
      it's core - we're asking you to complete games with at least one letter
      "T" in the title. Easy, right? Now, to make matters slightly more
      constraining - games will need to have <b>equal to or less than</b> 1,773
      completions at the final update of the month! And then, of course, to make
      it <i>even more constraining</i> - only ID@Xbox games will count! We've
      got to celebrate Indie'pendence, right?
    </p>
    <p>The bonus points system will work as follows:</p>
    <ul>
      <li>
        <= 1,773 completions = 40% of BCMX value + (# of T's in the title % of
        BCMX Value)
      </li>
      <li>
        <= 500 completions = 60% of BCMX value + (# of T's in the title % of
        BCMX Value)
      </li>
      <li>
        <= 100 completions = 80% of BCMX value + (# of T's in the title % of
        BCMX Value)
      </li>
    </ul>
    <p>
      As a practical example -
      <a
        href="https://www.trueachievements.com/game/The-Elder-Scrolls-Online-Tamriel-Unlimited"
        >The Elder Scrolls Online</a
      >
      is worth 1,500 Base BCMX points. With only 14 completions (at the time of
      writing this blog) that would place it in the highest bonus tier of 80%.
      Additionally, there is a single T in the title so it would receive an
      additional % (totaling 81%). The total bonus points for this game would
      then be 1,215 (in addition to the base score).
    </p>
    <p>
      To get participation credit for this event you will simply need to
      complete one qualifying game.
    </p>
    <h2 class="font-2xl font-semibold tracking-wider">
      But wait, there’s more!
    </h2>
    <p>
      We are adding a community-focused goal to this event! As all good citizens
      of Tamriel know, those brave khajit dumped exactly 342 crates of tea into
      the Padomaic Ocean.
    </p>
    <p>
      The goal, as a community, is to complete 342 games that qualify for this
      event. So, 342 ID@Xbox games with less than or equal to 1,773 completions
      at the end of the month <i>and</i> have at least a single T in the title.
    </p>
    <p>
      Everyone’s completions will contribute towards this goal. The completions
      do not have to be unique games, the same game completed by 3 different
      people will count as 3/342. If met, everyone who qualifies will receive
      1,000 bonus points.
    </p>
    <p>
      To qualify for the community bonus you will need to complete any number of
      qualifying games that have a total of <i>at least</i> 5 T's in the title.
      Yes, if you can do this with a single game - that will work.
    </p>
    <p>This is an all-or-nothing bonus pool.</p>
    <ul class="list-disc ml-4 mb-6">
      <li>
        For any completion to count towards this bonus the ratio must be at or
        above 1.5 and have a time estimate at or above 5-6 hours. <b>Or</b> the
        time estimate must be at or above 20 hours regardless of ratio.
      </li>
      <li>
        Stacks will count as separate games due to technical restrictions.
      </li>
      <li>
        Any game released in July of 2024 will not qualify for this bonus.
        Additionally, any completion that is due to a new DLC or TU releasing in
        July of 2024 also will not qualify for this bonus.
      </li>
      <li>Games must be ID@Xbox according to the categories on TA</li>
      <li>Games must have 1,773 completions or less at the end of the month</li>
      <li>Games must have at least one T in the title</li>
    </ul>
  </article>
</section>
