<div class="w-full overflow-x-auto shadow-md sm:rounded-lg">
  <table class="text-left text-sm text-gray-400 rtl:text-right">
    <thead class="bg-gray-700 text-xs uppercase text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">Date</th>
        <th scope="col" class="px-6 py-3">Title</th>
        <th scope="col" class="px-6 py-3">Ratio</th>
        <th scope="col" class="px-6 py-3">Estimate</th>
        <th scope="col" class="px-6 py-3">Points</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="border-b border-gray-700 bg-gray-800"
        *ngFor="let game of bcmPlayerSummary.games"
      >
        <td class="px-6 py-4">{{ game.completionDate | date : "MMM d" }}</td>
        <th
          scope="row"
          class="whitespace-nowrap px-6 py-4 font-medium text-white"
        >
          {{ game.title }}
        </th>
        <td class="px-6 py-4">{{ game.ratio }}</td>
        <td class="px-6 py-4">{{ game.estimate || "--" }}</td>
        <td class="px-6 py-4">
          {{ game.estimate !== null ? game.points : "--" }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
