<ng-container *ngIf="isLoading">
  <main
    class="absolute left-0 top-[65px] flex h-[calc(100%-65px)] w-full items-center justify-center bg-black bg-opacity-50"
  >
    <img src="../../../assets/infinite-spinner.svg" class="h-16" />
  </main>
</ng-container>
<div class="flex flex-col justify-center" *ngIf="!isLoading">
  <div
    class="relative max-h-[calc(100vh-120px)] overflow-x-auto shadow-md sm:rounded-lg"
  >
    <table
      class="m-auto bg-gray-700 min-w-[400px] text-left text-sm text-gray-400 rtl:text-right"
    >
      <caption
        class="bg-gray-800 p-5 text-left text-lg font-semibold text-white"
      >
        November's 'So Long and Thanks For All the Fish' Leaderboard
      </caption>
      <thead class="sticky top-0">
        <tr class="flex bg-gray-700 text-xs uppercase text-gray-400">
          <th
            class="w-16 cursor-pointer px-6 py-3 hover:text-green-500 sm:p-4"
            (click)="sortColumn('rank')"
          >
            Rank
          </th>
          <th
            class="w-44 cursor-pointer px-6 py-3 hover:text-green-500 sm:p-4"
            (click)="sortColumn('gamertag')"
          >
            Gamertag
          </th>
          <th
            class="w-20 text-center cursor-pointer px-6 py-3 text-yellow-400 hover:text-green-500 sm:p-4"
            (click)="sortColumn('totalPoints')"
          >
            Total
          </th>
          <th
            class="w-20 text-center cursor-pointer px-6 py-3 hover:text-green-500 sm:p-4"
            (click)="sortColumn('communityBonusQualified')"
          >
            Bonus
          </th>
          <th
            class="w-28 text-center cursor-pointer px-6 py-3 hover:text-green-500 sm:p-4"
            (click)="sortColumn('2019')"
          >
            2019
          </th>
          <th
            class="w-28 text-center cursor-pointer px-6 py-3 hover:text-green-500 sm:p-4"
            (click)="sortColumn('2020')"
          >
            2020
          </th>
          <th
            class="w-28 text-center cursor-pointer px-6 py-3 hover:text-green-500 sm:p-4"
            (click)="sortColumn('2021')"
          >
            2021
          </th>
          <th
            class="w-28 text-center cursor-pointer px-6 py-3 hover:text-green-500 sm:p-4"
            (click)="sortColumn('2022')"
          >
            2022
          </th>
          <th
            class="w-28 text-center cursor-pointer px-6 py-3 hover:text-green-500 sm:p-4"
            (click)="sortColumn('2023')"
          >
            2023
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let recap of aprRecapData; let i = index"
          [ngClass]="{
            'flex border-b border-gray-700': true,
            'bg-gray-800': i % 2 === 0,
            'bg-slate-800': i % 2 !== 0
          }"
        >
          <td class="w-16 px-6 py-4">
            {{ recap.rank | ordinal }}
          </td>
          <td class="w-44 px-6 py-4">
            {{ recap.gamertag }}
          </td>
          <td class="w-20 px-6 py-4 text-yellow-400">
            {{ recap.totalPoints | number : "0.0-0" }}
          </td>
          <td class="w-20 px-6 py-4">
            <span
              *ngIf="recap.communityBonusQualified"
              class="font-bold text-green-600"
              >Yes</span
            >
            <span
              *ngIf="!recap.communityBonusQualified"
              class="font-thin text-red-500"
              >No</span
            >
          </td>
          <td class="w-28 px-6 py-4">
            <div class="text-yellow-400">1sts: {{ recap.podium2019_1st }}</div>
            <div class="text-slate-500">2nds: {{ recap.podium2019_2nd }}</div>
            <div class="text-amber-800">3rds: {{ recap.podium2019_3rd }}</div>
          </td>
          <td class="w-28 px-6 py-4">
            <div class="text-yellow-400">1sts: {{ recap.podium2020_1st }}</div>
            <div class="text-slate-500">2nds: {{ recap.podium2020_2nd }}</div>
            <div class="text-amber-800">3rds: {{ recap.podium2020_3rd }}</div>
          </td>
          <td class="w-28 px-6 py-4">
            <div class="text-yellow-400">1sts: {{ recap.podium2021_1st }}</div>
            <div class="text-slate-500">2nds: {{ recap.podium2021_2nd }}</div>
            <div class="text-amber-800">3rds: {{ recap.podium2021_3rd }}</div>
          </td>
          <td class="w-28 px-6 py-4">
            <div class="text-yellow-400">1sts: {{ recap.podium2022_1st }}</div>
            <div class="text-slate-500">2nds: {{ recap.podium2022_2nd }}</div>
            <div class="text-amber-800">3rds: {{ recap.podium2022_3rd }}</div>
          </td>
          <td class="w-28 px-6 py-4">
            <div class="text-yellow-400">1sts: {{ recap.podium2023_1st }}</div>
            <div class="text-slate-500">2nds: {{ recap.podium2023_2nd }}</div>
            <div class="text-amber-800">3rds: {{ recap.podium2023_3rd }}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
