<section class="flex flex-col items-center gap-y-6 text-gray-300">
  <img
    src="https://i.imgur.com/h6mPHzT.png"
    class="max-w-sm self-center sm:max-w-md"
  />
  <article class="flex max-w-2xl flex-col gap-y-6">
    <h1 class="text-2xl font-semibold">It's time to get spoopy!</h1>
    <p class="bg-slate-900 p-5">
      Sometimes, the world is black.<br />
      And tears run from your eyes.<br />
      And maybe we'll all get really sick.<br />
      And maybe we'll all die.<br />
      So…
      <br /><br />
      LET’S BUILD A SNOWMAN SKELETON<br />
      We can make him our best friend.<br />
      We can name him Tom or we can name him George!<br />
      We can make him tall, or we can make him not so tall.<br />
      SKELETON!<br />
    </p>
    <p>
      Each contestant will be tasked with contributing bones towards our
      skeleton. We don’t care how you get these bones and, in fact, we’d prefer
      not to know. However - we are bone-snobs and will only accept bones of a
      certain caliber to be part of our pal. None of those bargain barrel
      piss-water bones for us! Also, we won’t be accepting any tiny bones as
      this isn’t a skeleton for ants!
    </p>
    <p>Bones - qualifying completions</p>
    <p>The scoring will work as follows:</p>
    <ul>
      <li>> 1 GB Install Size = 20% of BCMX value + (XX% of BCMX Value)</li>
      <li>>= 5 GB Install Size = 40% of BCMX value + (XX% of BCMX Value)</li>
      <li>>= 10 GB Install Size = 60% of BCMX value + (XX% of BCMX Value)</li>
    </ul>
    <p>
      To gain a higher XX% - we're asking you upstanding members of society to
      empower the bones that you deliver with dark magic. For each ritual that
      you manage to place upon your bones an additional 5% will be granted (to a
      maximum of 25%). This additional total will apply to all games that work
      for the bonus.
    </p>
    <p>
      If applicable - the same completion can be used in multiple rituals. It
      will not require five unique completions.
    </p>
    <div class="bg-slate-900 p-5">
      <ul class="list-disc">
        <li class="ml-5">Crimson Curse</li>
        <span class="mb-2 text-slate-400"
          >This ritual will be completed by completing a game with the string
          “red” appearing anywhere in the title. System tags will not count.
          (+5%)</span
        >
        <br /><br />
        <li class="ml-5">Dread</li>
        <span class="mb-2 text-slate-400"
          >This ritual will be completed by completing a game that has a start
          date (in your collection) of 2023 or earlier. (+5%)</span
        >
        <br /><br />
        <li class="ml-5">Mark of the Beast (1 of 3)</li>
        <span class="mb-2 text-slate-400"
          >This ritual will be completed by completing a game that has a “6”
          appearing in the achievement count (including all DLC). (+5%)</span
        >
        <br /><br />
        <li class="ml-5">Mark of the Beast (2 of 3)</li>
        <span class="mb-2 text-slate-400">
          This ritual will be completed by completing a game that has a “6”
          appearing in the release date. US dates on TA will be used.
          (+5%)</span
        >
        <br /><br />
        <li class="ml-5">Mark of the Beast (3 of 3)</li>
        <span class="mb-2 text-slate-400"
          >This ritual will be completed by completing a game that has a “6”
          appearing in the larger number in the “completion est inc DLC” column
          in the game collection. The game has to have enough estimates for a
          value to show here. If a value does not show, it will not count. TAVIS
          only sees the larger number. For example 6-8 would count as an 8 (the
          6 would not be seen.) (+5%)</span
        >
      </ul>
    </div>
    <p>
      To gain participation credit for the month - you simply have to earn bonus
      points by completing any qualifying game. Please don't forget the standard
      game restrictions listed at the end of the blog.
    </p>
    <h2 class="font-2xl font-semibold tracking-wider">
      But wait, there’s more!
    </h2>
    <p>
      According to my grimoire - the human skeleton consists of around 206 bones
      in adulthood. For reasons that don't concern you - we want our pal to be
      as strong as TEN HUMANS - so you'll need to aim for contributing 2060 bon.
      . . just kidding!
    </p>
    <p>
      We'll be looking for a combine total of 300 bones submitted! We've got a
      hidden stash to make up the difference!
    </p>
    <p>
      To qualify for the community bonus you simply need to earn bonus points in
      this event.
    </p>
    <p>This is an all-or-nothing bonus pool.</p>
    <p>Important Rules:</p>
    <ul class="list-disc ml-4 mb-6">
      <li>
        For any completion to count towards this bonus the ratio must be at or
        above 1.5 and have a time estimate at or above 5-6 hours. <b>Or</b> the
        time estimate must be at or above 20 hours regardless of ratio.
      </li>
      <li>
        Stacks will count as separate games due to technical restrictions.
      </li>
      <li>
        Any game released in September of 2024 will not qualify for this bonus.
        Additionally, any completion that is due to a new DLC or TU releasing in
        September of 2024 also will not qualify for this bonus.
      </li>
      <li>Games must have over 1GB install size.</li>
    </ul>
  </article>
</section>
