<section class="flex flex-col items-center gap-y-6 text-gray-300">
  <img
    src="https://i.imgur.com/pQumPpr.png"
    class="max-w-sm self-center sm:max-w-md"
  />
  <article class="flex max-w-2xl flex-col gap-y-6">
    <h1 class="text-2xl font-semibold">Scorehammer 40,000</h1>
    <img
      src="https://i.imgur.com/ZMmJs1j.jpeg"
      class="max-w-sm self-center sm:max-w-md"
    />
    <p class="bg-slate-900 p-5">
      Well met, Space Marines!
      <br /><br />
      Your mission is clear: purge the xenos filth from our domain with
      unyielding fury. No quarter, no mercy. Deploy with precision and strike
      with the wrath of a thousand storms. In the Emperor’s name, let every bolt
      and blade be a testament to our unbreakable resolve. Stand firm, for
      humanity endures through your strength and valor. For the Emperor! For
      humanity!
    </p>
    <p>
      Xenos filth = qualifying games that have been granted additional
      gamerscore (over 1,000), likely due to DLC and/or TUs.
    </p>
    <p>The scoring will work as follows:</p>
    <ul>
      <li>> 1,000 GS = 20% of BCMX value + (XX% of BCMX Value)</li>
      <li>>= 1,500 GS = 40% of BCMX value + (XX% of BCMX Value)</li>
      <li>>= 1,750 GS = 60% of BCMX value + (XX% of BCMX Value)</li>
    </ul>
    <p>
      To gain a higher XX% - we're asking you space marines to offer tributes to
      five specific notable Space Marine chapters. For each chapter that you
      manage to offer a tribute to, an additional 5% will be granted (to a
      maximum of 25%).
    </p>
    <p>
      If applicable - the same completion can be used as tribute to multiple
      chapters. It will not require five unique completions.
    </p>
    <div class="bg-slate-900 p-5">
      <span class="text-slate-400"
        >In the name of the Emperor, we offer tribute to the noble Chapters of
        the Imperium of Man that stand as the bastions of humanity's hope and
        strength. To the Blood Angels, one of the longest lived Chapters, whose
        ferocity and grace in battle are unmatched, we honor your sacrifice and
        the legacy of Sanguinius.</span
      >
      <ul class="list-disc">
        <li class="ml-5">
          (1/5) We will offer tribute by completing an Xbox 360 platform game.
          (+5%)
        </li>
        <br />
        <span class="mb-2 text-slate-400"
          >To the Imperial Fists, the indomitable guardians of Terra, we salute
          your steadfast resolve and unbreakable fortitude in the face of
          insurmountable odds.</span
        >
        <li class="ml-5">
          (2/5) We will offer tribute by complete any qualifying game that
          <a
            href="https://www.trueachievements.com/gamer/IronFistofSnuff"
            class="text-green-600 hover:underline"
            >IronFistofSnuff</a
          >
          has completed. (+5%)
        </li>
        <br />
        <span class="mb-2 text-slate-400"
          >To the Space Wolves, fierce sons of Fenris, we revere your untamed
          spirit and the feral might you unleash upon our enemies.</span
        >
        <li class="ml-5">
          (3/5) We will offer tribute by having the following letters appear in
          the title of any number of our qualifying completions: w, o, o, f.
          System tags will not count. (+5%)
        </li>
        <br />
        <span class="mb-2 text-slate-400"
          >To the Ultramarines, honored paragons of discipline and strategy, we
          commend your unwavering adherence to the Codex Astartes and your
          stalwart defense of Ultramar.</span
        >
        <li class="ml-5">
          (4/5) We will offer tribute by completing a game with a TA rating
          above 4.25 stars and over 2,000 tracked gamers. (+5%)
        </li>
        <br />
        <span class="mb-2 text-slate-400">
          And to the Deathwatch, also known as the Long Watch, the vigilant
          sentinels of the xenos threat, we acknowledge your unparalleled
          expertise and dedication to the sacred duty of safeguarding
          mankind.</span
        >
        <li class="ml-5">
          (5/5) We will offer tribute by completion a game with a completion
          estimate of at least 80 hours. (+5%)
        </li>
      </ul>
    </div>
    <p>
      To gain participation credit for the month - you simply have to earn bonus
      points by completing any qualifying game. Please don't forget the standard
      game restrictions listed at the end of the blog.
    </p>
    <p>
      We will be using Gamerscore as the metric to determine game eligibility.
      Unfortunately, this will result in some games that should qualify, like
      <a
        href="https://www.trueachievements.com/game/Kameo"
        class="text-green-500 hover:underline"
        >Kameo</a
      >
      or
      <a
        href="https://www.trueachievements.com/game/Like-a-Dragon-Infinite-Wealth"
        class="text-green-500 hover:underline"
        >Like a Dragon Infinite Wealth</a
      >
      not qualifying because they still have base 1,000 GS despite receiving
      DLC.
    </p>
    <p>
      It will also result in some games that technically shouldn't qualify, like
      <a
        href="https://www.trueachievements.com/game/Rare-Replay"
        class="text-green-500 hover:underline"
        >Rare Replay</a
      >, as actually qualifying due to having over base 1,000 GS despite not
      having updates.
    </p>
    <h2 class="font-2xl font-semibold tracking-wider">
      But wait, there’s more!
    </h2>
    <p>
      The goal, as a community, is to complete any number of qualifying games
      that have a total of 40,000 achievements (or more).
    </p>
    <p>
      <b>Almost</b> everyone’s completions will contribute towards this goal.
      The completions do not have to be unique games, the same game completed by
      3 different people then the achievement count will be multiplied by 3 for
      the tally. If met, everyone who qualifies will receive 1,000 bonus points.
    </p>
    <p>
      To qualify for the community bonus you simply need to earn bonus points in
      this event.
    </p>
    <p>This is an all-or-nothing bonus pool.</p>
    <p>
      <b><i>Wait, almost everyone?</i></b>
    </p>
    <p class="bg-slate-900 p-5">
      Brothers, heed this dire warning: traitor Chaos Space Marines, twisted by
      the foul powers of the Warp, are working tirelessly to undermine our
      efforts. These heretics, once brothers-in-arms, now reves in the
      corruption of Chaos and seek to sow discord and destruction from within.
      Trust not the whispers of betrayal, but stand vigilant and resolute.
      Remain steadfast, for we are the Emperor's chosen, and we shall not
      falter.
    </p>
    <p>
      Any qualifying completions from
      <a
        href="https://www.trueachievements.com/gamer/N0TH+THA+G0D"
        class="text-green-500 hover:underline"
        >N0TH THA G0D</a
      >
      or
      <a
        href="https://www.trueachievements.com/gamer/emz+fergi"
        class="text-green-500 hover:underline"
        >emz fergi</a
      >
      will count subtract from our total achievement count out of 40,000.
    </p>
    <p>Important Rules:</p>
    <ul class="list-disc ml-4 mb-6">
      <li>
        For any completion to count towards this bonus the ratio must be at or
        above 1.5 and have a time estimate at or above 5-6 hours. <b>Or</b> the
        time estimate must be at or above 20 hours regardless of ratio.
      </li>
      <li>
        Stacks will count as separate games due to technical restrictions.
      </li>
      <li>
        Any game released in August of 2024 will not qualify for this bonus.
        Additionally, any completion that is due to a new DLC or TU releasing in
        August of 2024 also will not qualify for this bonus.
      </li>
      <li>Games must have over 1,000 total GS.</li>
    </ul>
    <h2 class="font-2xl font-semibold tracking-wider">TLDR</h2>
    <ul class="list-disc ml-5">
      <li>Complete qualifying games with over 1,000 base GS.</li>
      <li>Earn more bonus points for games with over 1,500 base GS.</li>
      <li>Earn even more bonus points for games with over 1,750 base GS.</li>
    </ul>
    <p>
      Earn additional multiple by fulfilling the following criteria with
      <b>any number of games</b>
    </p>
    <ul class="list-disc ml-5">
      <li>An Xbox 360 platform game (+5%)</li>
      <li>
        Any game completed by
        <a
          href="https://www.trueachievements.com/gamer/IronFistofSnuff"
          class="text-green-600 hover:underline"
          >IronFistofSnuff</a
        >
        (+5%)
      </li>
      <li>
        Any number of completion with the following letters appear in the title:
        w, o, o, f. (+5%)
      </li>
      <li>
        Any game with a TA rating above 4.25 stars and over 2,000 tracked
        gamers. (+5%)
      </li>
      <li>Any game with a completion estimate of at least 80 hours. (+5%)</li>
    </ul>
  </article>
</section>
