<article class="flex flex-col gap-y-4">
  <img src="https://i.imgur.com/Pqcy14j.png" class="mb-8" />
  <h1 class="text-2xl font-semibold">GENREEEEEE TOWERRRRRSSS</h1>
  <p>
    Similar to March - this month will see the return of a fan-favorite staple
    BCM event (albeit it with quite a few tweaks!) Genre Towers, in its simplest
    form, requires you to build a “tower” by completing games from a specific
    set of genres in <b>ratio ascending</b> order. This year there will be no
    predetermined towers to choose from.
  </p>
  <p>
    We're going to use our boy Tavis' brainpower to create a user-specific genre
    tower for each and every one of you! Your tower will consist of the Top 5
    genres of your completed games history - which can be viewed in the Misc.
    Stats section on your user profile page. In the case of tied genres, Tavis
    will pick in alphabetical order.
    <br /><br />
    Using my page as an example - my genre tower will consist of the following
    genres:
  </p>
  <ul class="list-disc ml-4">
    <li>Strategy</li>
    <li>Turn Based</li>
    <li>Role Playing</li>
    <li>Platformer</li>
    <li>Adventure</li>
  </ul>
  <img src="https://i.imgur.com/NB5NUza.png" />
  <p>
    So, I will be tasked with completing games (in ratio ascending order) within
    those five genres to build floors to my tower. It's important, so I'll
    reiterate, games must be completed in ratio ascending order!
  </p>
  <p>
    This means if you start with a 3.6 ratio game - you cannot backtrack to 3.5,
    2.5, etc. You can only go upwards!
  </p>
  <ul class="bg-slate-900 p-5">
    <li>Etc. Floor 4 = 4.x Ratio Completions</li>
    <li>Floor 3 = 3.x Ratio Completions</li>
    <li>Floor 2 = 2.x Ratio Completions</li>
    <li>Floor 1 = 1.x Ratio Completions</li>
  </ul>
  <p>
    You are welcome to begin on any floor that you would like, and complete as
    many games within the floor as you would like, but all of these games will
    need to be in ratio ascending order in order to count. You can also skip
    floors should you wish. Anything out of order will be ignored. For the
    purpose of later calculations - the height of your genre tower will be
    determined by the # of floors on it - without regards to the floor that you
    started on.
  </p>
  <p>
    Furthermore - there will be a genre restriction imposed upon the games that
    you complete and the order that you complete them. You may choose what genre
    to start with, but choose carefully as that will have a large impact on how
    you progress up the tower. The general idea is that the longer the game is,
    the more options you will get to pick from. If a game is short, you must go
    to the next genre for the completion to count. If a game is very long, you
    are able to go to any genre in your tower, including the genre you just
    completed.
  </p>
  <ul class="bg-slate-900 p-5">
    <li>Must move to the next genre: 10 or less hours</li>
    <li>Can choose between the next 2 genres: 11-20 hours</li>
    <li>Can choose between the next 3 genres: 21-30 hours</li>
    <li>Can choose between the next 4 genres: 31-50 hours</li>
    <li>Can choose any genre, including a repeat: 51+ hours</li>
  </ul>
  <p>To demonstrate this, recall the tower example above</p>
  <p>
    Let's say I started with an 8 hour, 1.2 ratio Turn Based game. That means my
    next game must have a higher ratio than 1.2 and have the Role Playing genre.
    Now, I complete a 30 hour, 3.2 ratio game. My 3rd game must now have a ratio
    over 3.2 and contain at least one genre between Platformer, Adventure, and
    Strategy.
  </p>
  <p>
    Bonus points will be awarded as a multiplier based on the BCMX value of
    games used in your tower, bumped by how tall your tower is. The following is
    a breakdown of the multipliers:
  </p>
  <ul class="bg-slate-900 p-5">
    <li>Floor 1 - +10% + (6% * Tower Height)</li>
    <li>Floor 2 - +20% + (5% * Tower Height)</li>
    <li>Floor 3 - +30% + (4% * Tower Height)</li>
    <li>Floors 4 and 5 - +40% + (3% * Tower Height)</li>
    <li>Floors 6 and 7 - +50% + (2% * Tower Height)</li>
    <li>Floors 8 and above - +60% + (1% * Tower Height)</li>
  </ul>
  <h1>But wait there's more!</h1>
  <p>
    The community goal for this month will be based on the number of floors that
    you, as a community, can build. This is an all-or-nothing style community
    bonus wherein 150 floors total must be built across all contestants. If this
    is achieved, each qualifying contestant will get an extra 1,000 bonus
    points. If it isn't achieved - y'all get nothing! To qualify for this bonus
    you will simply need to earn bonus from the main Genre Tower event - so
    create a qualifying tower (at least two floors).
  </p>
</article>
