<section class="flex flex-col items-center gap-y-6 text-gray-300">
  <img
    src="https://i.imgur.com/6jsczvT.png"
    class="max-w-sm self-center sm:max-w-md"
  />
  <article class="flex max-w-2xl flex-col gap-y-6">
    <p>
      It's September - which means it's time for the annual September Streaking
      event! This marks the sixth iteration of it - so a good portion of you
      should be familiar with the overall concept by now!
    </p>
    <p>
      You'll be tasked with building a streak using various traits based on your
      game completions. These traits will be based on criteria available in
      various Game Collection columns. What are the traits this time around, you
      ask?
    </p>
    <ul class="flex flex-col gap-4">
      <li>
        <span class="underline">Shared Developer</span>: The publisher field
        must list the same publisher. Slight variations will not count. For
        example - Ubisoft Paris is not equal to Ubisoft Montreal.
      </li>
      <li>
        <span class="underline">Shared Word</span> The title of the game must
        have a shared word of at least 3 letters in length. Platform tags will
        not count. Yes, "the" counts.
      </li>
      <li>
        <span class="underline">Shared Release Year</span>: The year of the
        release must match. We've had global releases for quite some time now,
        but in the case of discrepancies we will be using US release dates. I
        don't foresee this causing any problems, but I'm outlining it to be
        safe.
      </li>
    </ul>
    <p>
      You cannot use the same trait twice in a row. Meaning, you can't link 3
      games in a rows from the same release year, etc. You must alternate
      traits. You do not have to cycle all traits, but can bounce back and forth
      between the same two if desired.
    </p>
    <div class="bg-slate-900 p-5">
      <span class="text-slate-400"
        ><b
          >Since this is going to be automated - the very first valid streak
          that is picked up will be your start.</b
        >
        You also will not be able to manually overlook any games in your streak.
        Be sure to pay attention to your completion order!</span
      >
    </div>
    <p>
      To gain participation in this bonus you will need to complete a streak of
      3 or more games.
    </p>
    <p>The standard BCMX game restrictions apply.</p>
    <p>Scoring will be determined as follows</p>
    <ul>
      <li>Streak of 3+ = +40% of BCMX value to all games in streak</li>
      <li>Streak of 5+ = +60% of BCMX value to all games in streak</li>
      <li>Streak of 7+ = +80% of BCMX value to all games in streak</li>
    </ul>

    <h2 class="font-2xl font-semibold tracking-wider">
      But wait, there’s more!
    </h2>
    <p>
      The community goal this time around has two criteria that must be met:
    </p>
    <ul>
      <li>
        There must be a total of 40+ streakers (40+ gamers have a valid streak)
      </li>
      <li>There must be a total of 150+ games inside of the streaks</li>
    </ul>
    <p>
      If met, all contestants who had a valid streak will earn 1,000 bonus
      points. This is an all or nothing bonus.
    </p>

    <p>Important Rules:</p>
    <ul class="list-disc ml-4 mb-6">
      <li>
        For any completion to count towards this bonus the ratio must be at or
        above 1.5 and have a time estimate at or above 5-6 hours. <b>Or</b> the
        time estimate must be at or above 20 hours regardless of ratio.
      </li>
      <li>
        Stacks will count as separate games due to technical restrictions.
      </li>
      <li>
        Any game released in September of 2024 will not qualify for this bonus.
        Additionally, any completion that is due to a new DLC or TU releasing in
        September of 2024 also will not qualify for this bonus.
      </li>
    </ul>
  </article>
</section>
