<section class="flex flex-col items-center gap-y-6 text-gray-300">
  <img
    class="max-w-sm self-center sm:max-w-md"
    src="https://i.imgur.com/SRjKWkJ.png"
  />

  <article class="flex max-w-2xl flex-col gap-y-6">
    <p>
      This month is the Bounty Board bonus event! This is a staple annual event
      where we will assign “bounties” to a list of 25 different games within the
      Game Pass library. You can then earn bonus points by completing any (or
      many) of these games within the month!
    </p>

    <img src="https://i.imgur.com/nB6ZCup.png" />

    If the above image doesn't do it for you - here is a text list of the 25
    different bounties:
    <ul class="ml-6 list-disc">
      <li>Brütal Legend</li>
      <li>Citizen Sleeper</li>
      <li>Dead Space</li>
      <li>DEATHLOOP</li>
      <li>DOOM</li>
      <li>Dune: Spice Wars</li>
      <li>Eastern Exorcist</li>
      <li>F.I.S.T.: Forged in Shadow Torch</li>
      <li>Goat Simulator 3</li>
      <li>Guilty Gear -Strive-</li>
      <li>Hardspace: Shipbreaker</li>
      <li>Like a Dragon Gaiden: The Man Who Erased His Name</li>
      <li>MLB The Show 23</li>
      <li>Need for Speed Unbound</li>
      <li>Pentiment</li>
      <li>Perfect Dark (2010)</li>
      <li>Resident Evil 2</li>
      <li>Roboquest</li>
      <li>Sea of Stars</li>
      <li>Solar Ash</li>
      <li>Star Wars Jedi: Fallen Order</li>
      <li>SteamWorld Build</li>
      <li>Teenage Mutant Ninja Turtles: Shredder's Revenge</li>
      <li>Turbo Golf Racing</li>
      <li>Wo Long: Fallen Dynasty</li>
    </ul>

    <p>
      The concept of the Bounty Board, however, is that the more gamers that
      complete a particular game - the less bonus points that particular game
      ends up being worth! You'll end up having to split the bounty with others,
      so to speak. BCM veterans should be familiar with this bonus as a whole,
      but we're going to <i>(of course)</i> be trying out a new scoring mechanic
      this time around!
    </p>

    Similar to February, a multiplier will be applied to the bounties base BCM
    value as additional contestants complete the game.
    <ul>
      <li>1 Gamer Completed = +400% of BCM Value as bonus points</li>
      <li>2 Gamers Completed = +300% of BCM Value as bonus points</li>
      <li>3 Gamers Completed = +200% of BCM Value as bonus points</li>
      <li>4 Gamers Completed = +100% of BCM Value as bonus points</li>
      <li>5 Gamers Completed = +95% of BCM Value as bonus points</li>
      <li>6 Gamers Completed = +90% of BCM Value as bonus points</li>
      <li>7 Gamers Completed = +85% of BCM Value as bonus points</li>
      <li>8 Gamers Completed = +80% of BCM Value as bonus points</li>
      <li>9 Gamers Completed = +75% of BCM Value as bonus points</li>
      <li>10 Gamers Completed = +70% of BCM Value as bonus points</li>
      <li>11+ Gamers Completed = +65% of BCM Value as bonus points</li>
    </ul>

    <p>
      If you'd like a visual, here is an image showing [b]estimated[/b] bonus
      point values based on the multiplier for each game.
    </p>
    <img
      src="https://cdn.discordapp.com/attachments/1083780583815122974/1212896011312300093/bb11.png?ex=65f3806f&is=65e10b6f&hm=d2839b6909bb9fa73376289d89347c0c2ddd5dc29ebd72fd5a9a69fd8b188099&"
    />
    <h3 class="text-xl font-bold">But wait, there's more!</h3>
    <p>
      Continuing with the trends from previous months - we'll be offering a
      Community Bonus to strive for inside of this bonus!
    </p>
    <p class="bg-slate-900 p-5">
      We're challenging you, as a community, to fulfill each bounty
      <b>twice</b>! Everyone's submissions will contribute towards this goal.
      And, if met, everyone who managed to complete a single bounty during the
      month will earn an additional 500 bonus points!
    </p>
  </article>
</section>
